

html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/background.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
}

.page-title {
    text-align: center;
    font-weight: 375;
    font-size: 40px;
    letter-spacing: .1em;

}

p.page-description {
    display: flex;
    flex-wrap: wrap;
}
.page-description {

    border: 1px solid #333;
    text-align: center;
    padding: 30px;
    margin: 40px 40px;
    font-size: 22px;
    letter-spacing: .2em;
    color: red;
    
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.gallery-item {
    margin: 20px;
    border: 5px solid antiquewhite;
}

.gallery-item .thumbnail {

}

/*Footer Nav*/
nav{
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav li {
    margin: 0;
    padding: 0 10px;
    display: inline;
    
}

nav ul {
    display: inline;

}

nav a {
    text-decoration: none;
    border: 1px solid #204156;
    color: #204156;
    font-size: 18px;
    padding: 10px 18px;
    border-radius: 4px;
    font-weight: bold;

}

nav a:hover {
    color: #FFF;
    background-color: #204156;
    transition: ease-in-out 10ms;
}

.contact-btn{
    float: right;
    font-size: 18px;


}

.contact-btn a {
    cursor: pointer;
    margin-right: 30px;
    padding: 10px 18px;
    border: 1px solid red;
    border-radius: 4px;
    color: red;
    font-weight: bold;
  
  }
  
  .contact-btn a:active {
    position: relative;
    top: 2px; 
  }

  .contact-btn a:hover {
    border: 1px solid #FFF;
    color: #FFF;
    background-color: red;
    transition: ease-in-out 10ms;
  }